#!/bin/bash

## Github Token
export GITHUB_GIST_TOKEN="xxx"      # vscode.shareCode.github.authtoken
export GITHUB_GRIP_GFM_TOKEN="xxx"  # grip-gfm

## NPM Registry
export NPM_REGISTRY_AUTH_TOKEN="xxx"
export VSCODE_SETTING_SYNC_TOKEN="xxx"
# export GPM_TOKEN=xxx
